body{
    margin: 0px;
    padding: 0px;
}
header{
    border: 1px solid;
    display: flex;
    justify-content: center;
    background-color: #05203C;
}
.main{
    max-width: 1220px;
}
.dp{
    font-size: 12px;
    /* border: 1px solid; */
    position: relative;
    left: -40px;
    color: black;
}
.dp p{
    display: flex;
    gap: 20px;
}
.dp i{
    color: #003b9b;
}
.dropdown{
    /* border: 1px solid white; */
    visibility: hidden;
    position: absolute;
    width: 200px;
    padding: 10px;
    top: 100px;
    left: 70%;
    background-color: #FFF;
    border-radius: 12px;
    justify-content: center;
    z-index: 5;
}
.dropdown-up{
    visibility: visible;
}
.line{
    border: 1px solid #ccc;
    width: 218px;
    position: relative;
    left: -10px;
}
.dropdown ul{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    justify-content: baseline;
}
.list2{
    color: #000;
    font-size: 12px;
    position: relative;
    left: -40px;
}
.dp1 p{
    display: flex;
    gap: 20px;
    align-items: center;
}
.fa-question{
    border-radius: 64px;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 10px;
    text-align: center;
    color: #FFF;
    background-color: #7E8C04;
}
.logo{
    cursor: pointer;
}
.top{
    display: flex;
    /* border: 1px solid; */
    gap: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    padding: 3px;
    color: #FFF;
}
.trs ul{
    list-style: none;
    display: flex;
    gap: 2px;
}
.trs li{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 20px;
    padding: 5px;
    /* border: 1px solid; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item1{
    font-size: 17px;
}
.trs li:hover{
    border-radius: 12px;
    background-color: #5a5888;
    cursor: pointer;
}
.btns{
    display: flex;
    gap: 10px;
}
.btn{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #CCC;
    border-radius: 24px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    color: #FFF;
}
.btn:hover{
    background-color: rgb(95, 95, 120);
    border: 1px solid rgb(95, 95, 120);
    cursor: pointer;
}
.title h1{
    color: #FFF;
    font-family: "Kanit", sans-serif;
    padding-bottom: 20px;
}
.fort a{
    text-decoration: none;
    color: #FFF;
    align-items: center;
    display: flex;
    gap: 10px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}
.fort a:hover{
    color: #615f8b;
}
.inpts{
    display: flex;
    /* border: 1px solid #ccc; */
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.ipt input{
    width: 160px;
    cursor: pointer;
}
.inpts span{
    color: #626971;
    position:absolute;
    top: -20px;
    left: 0px;
    z-index: 4;
    padding:5px ;
    border: 1px solid;
}
.changeable{
    border: 3px solid #05203C;
    height: 40px;
    width: 40px;
    background-color: #FFF;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 64px;
    position: absolute;
    left: 195px;
    top: 10px;
    cursor: pointer;
    z-index: 8;
}
.fa-arrows-turn-to-dots{
    transform: rotate(0deg);
    transition: all 0.8s ease;
}
.fa-arrows-turn-to-dots-up{
    transform: rotate(360deg);
}
.inpts{position: relative;}
.ipt{
    display: flex;

}
.inpt1 input{
    transform: translateX(220px);
}
.inpt1-up input{
    transform: translateX(0px);
    border-radius:12px 0px 0px 12px;
}
.inpt2 input{
    transform: translateX(-220px);
    border-radius: 12px 0px 0px 12px;
}
.inpt2-up input{
    transform: translateX(0px);
    border-radius:0px;
}
.inpts button{
    border-radius: 12px;
    background-color: rgb(0, 71, 204);
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 600;
    padding: 24px 36px;
}
.inpts button:hover{
    background-color: #003b9b;
}
.inpts b{
    color: #FFF;
}
.inpts input{
    padding: 25px;
    border: none;
}
.inpt1{
    border: none;
}
.inpt5{
    border-radius: 0px 12px 12px 0px;
    border: none;
}
.checks{
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
}
.rt{
    display: flex;
    gap: 100px;
}
.rt2{
    display: flex;
    gap: 10px;
}
.rt-strip{
    display: flex;
    gap: 10px;
}
/* main2 */
.main2{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    /* height: 200vh; */
}
.inside{
    /* border: 1px solid; */
    width: 1220px;
    /* height: 200vh; */
}
.brns{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}
.brn{
    background-color: #003b9b;
    padding: 30px;
    width: 600px;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.brn:hover{
    background-color: #5a5888;
}
.brn a{
    text-decoration: none;
    color: #FFF;
    display: flex;
    gap: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.adverstment{
    /* border: 1px solid; */
    height: 500px;
    padding-top: 50px;
    position: relative;
}
.adverstment img{
    width: 1220px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.sub{
    position: absolute;
    left: 50px;
    top: 200px;
    color: #FFF;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sub h1{
    font-size: 50px;
}
.advr-button{
    background-color: #FFF;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
}
.advr-button:hover{
    background-color: #d5d5d5;
}
.down{
    /* border: 1px solid; */
    padding-top: 50px;
    font-family: "Rubik", sans-serif;
}
.down hr{
    opacity: 0.5;
}
.dw i{
    position: absolute;
    left:580px;
    top: 10px;
}
.dw{
    position: relative;
    /* border: 1px solid; */
    width: 600px;
    cursor: pointer;
}
.dw_substyle{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.type1, .type2, .type3{
    font-family: Arial, Helvetica, sans-serif;
}
.paper{
    display: none;
    transition: all 0.7s ease;
}
.paper_down{
    display: block;
}
.fa-caret-down{
    transform: rotate(0deg);
}
.fa-caret-up{
    transform: rotate(180deg);
}
.sites{
    /* border: 1px solid; */
    font-family: "Kanit", sans-serif;
}
.up{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.up h1{
    font-size: 24px;
}
.up i{
    position: relative;
    left: -13px;
}
.card img{
    border-radius:666px;
    width: 25px;
    height: 25px;
}
.card{
    /* border: 1px solid; */
    align-items: center;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.card a{
    text-decoration: none;
}
.inter{
    cursor: pointer;
    padding-bottom:50px;
}
.lg.lg_down{
    display: block;
}
.lg{
    display: none;
}
/* footer css */
footer{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    background-color: #05203C;
}
.ft{
    /* border: 1px solid; */
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-evenly;
}
.col1 button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 40px;
    width: 300px;
    margin-top: 20px;
    background-color: #1E3750;
    color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}
.col1 button:hover{
    background-color: #010913;
}
.cols{
    display: flex;
    /* border: 1px solid; */
    width: 100%;
}
.col{
    padding-top: 50px;
    flex: 1 1 200px;
    display: flex;
    /* border: 1px solid; */
    justify-content: center;
}
.col ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.col a{
    margin: 8px 0;
    font-size: 14px;
    font-weight: 600;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    color: #FFF;
    width: 100%;
}
.col a:hover{
    text-decoration: underline;
}
.col i{
    color: #FFF;
}
.col li{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    width: 235px;
    padding: 0px 10px 0px 10px;
    align-items: center;
}
@media (max-width: 1024px){
    .ft{
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }
    .col{
        width: 100%;
        text-align: center;
    }
}  
.footer-bottom{
    text-align: center;
    color: #FFF;
}
.ft-left{
    display: flex;
}
/* login main */
.login{
    background-color: #FFF;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 700px;
    border-radius: 12px;
    position: absolute;
    top: 100px;
}
.cancel{
    border: 1px solid;
}
.login img{
    width: 30px;
    height: 30px;
}
.img img{
    width: 250px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 50px;
    object-fit: cover;
}
.login-blur button{
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-weight: 400;
    position: absolute;
    top: 30px;
    left: 450px;
    background-color: #FFF;
    border: none;
    font-size: 25px;
}
.tiping{
    padding-top: 50px;
    padding: 50px;
    font-family: "Kanit", sans-serif;
}
.tiping ul{
    list-style: none;
    position: relative;
    left: -40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tiping li{
    /* border: 1px solid; */
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 12px;
    background-color: #ebebeb;
    font-weight: 600;
    cursor: pointer;
}
.tiping li:hover{
    background-color: #CCC;
}
.terms{
    font-size: 12px;
    color: #6d6d6d;
}
.terms a{
    color: #0062ff;
}
.remember{
    display: flex;
    gap: 10px;
}
.login-blur{
    position: fixed;
    z-index: 9;
    border: 1px solid;
    width: 1903px;
    height: 950px;
    backdrop-filter: brightness(40%);
    justify-content: center;
}