body{
    margin: 0px;
    padding: 0px;
}
header{
    border: 1px solid #05203C;
    display: flex;
    background-color: #05203C;
    color: #FFF;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    padding-bottom: 15px;
    overflow: hidden;
}
@media (max-width:1200px) {
    .inside{
        padding: 0 !important;
        margin: 0 !important;
        border: none;
        outline: none;
        box-sizing: border-box;
    }
    .inside img{
        display: none;
    }
    .subarea{
        top: 50px;
    }
    .search-main{
        background-color: #05203C;
    }
}
.logo img{
    width: 200px;
    height: 50px;
    object-fit: cover;
    position: relative;
    left: -10px;
}
.up{
    /* border: 1px solid; */
    width: 1295px;
    padding: 0px;
    height: 130px;
}
.top{
    justify-content: space-between;
}
.left ul{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 13px;
}
.btn{
    padding: 2px;
    border-radius:12px;
    background-color: #1E3750;
    font-weight: 600;
    cursor: pointer;
}
.btn p{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
}
.btn:hover{
    background-color: #010913;
}
.login{
    border: 1px solid;
    border-radius:12px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFF;
    color: #000;
    font-weight: 600;
}
.btn img{
    width: 20px;
}
.left, .top{
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #FFF;
}
.sos a{
    border: 1px solid;
    padding: 10px;
    border-radius: 36px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
    font-weight: 600;
}
.sos a:hover{
    border: 1px solid #154679;
    background-color: #154679;
}
.sos ul{
    gap: 5px;
    padding: 0px;
}
header ul{
    list-style: none;
    display: flex;
}
.help{
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}
.line{
    position: relative;
    top: -10px;
    border: none;
    width: 0px;
    transition: all 0.8s ease;
}
.help:hover + .line{
    border: 1px solid;
    width: 100%;
}
.trans{
    display: flex;
    flex-direction: column;
}
/* main beginners */
.main1{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}
.inside{
    /* border: 1px solid; */
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    overflow: hidden;
}
.inside img{
    width: 100%;
    position: absolute;
    top: 0px;
    height: 550px;
    object-fit: cover;
}
.a2{
    /* border: 1px solid; */
    padding-top: 30px;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 40px;
}
.home{
    display: flex;
    flex-direction: column;
    position: relative;
}
.home hr{
    position: absolute;
    top: 10px;
    border: 1px solid;
    width: 40px;
}
.a2-box{
    display: flex;
    /* border: 1px solid; */
    width: 1200px;
    align-items: center;
    gap: 10px;
}
.a2 i, .a2 p{
    opacity: 0.5;
}
.a3{
    /* border: 1px solid; */
    display: flex;
    position: relative;
    justify-content: center;
    top: 40px;
}
.a3-boxes{
    display: flex;
}
.inside h1{
    z-index: 9;
    color: #FFF;
    font-size: 65px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    /* border: 1px solid; */
    width: 900px;
    position: absolute;
    left: 340px;
    top: 105px;
    text-align: left;
    padding-bottom: 10px;
    width: 100%;
}
.search-main{
    /* border: 1px solid; */
    z-index: 8;
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    justify-content: center;
    position: relative;
    top: 20px;
}
.subarea{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    background-color: #05203C;
    width: 1240px;
    height: 160px;
    border-radius: 5px;
    color: #FFF;
    position: relative;
}
.subarea ul{
    list-style: none;
}
.inpts ul{
    display: flex;
    position: absolute;
    top: 30px;
    left: -20px;
}
.inpts input{
    width: 550px;
    height: 17px;
    padding: 15px;
    flex-wrap: wrap;
    border-radius:12px 0px 0px 12px ;
    border: none;
}
.inpts select{
    border: none;
    width: 250px;
    padding: 15px;
    border-radius: 0px 12px 12px 0px;
}
.filter{
    display: flex;
    position: absolute;
    top: 100px;
    left: 23px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}
.checking, .filt{
    display: flex;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
}
.checking{
    gap: 20px;
}
.filt{
    gap: 5px;
}
.time{
    width: 150px !important;
}
input[type="date"]{
    border-radius: 0px;
}
.subtitles{
    border: 1px solid;
    display: flex;
    gap: 190px;
    position: relative;
    color: #000 ;
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.subtitles li{
    width: 150px;
    border: 1px solid;
}
.down{
    border: 1px solid;
    position: relative;
}