*{
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
    box-sizing: content-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    box-sizing: inherit;
}
header{
    border: 1px solid #05203C;
    display: flex;
    background-color: #05203C;
    color: #FFF;
    justify-content: center;
    /* font-family: "Noto Sans", sans-serif; */
    padding-bottom: 15px;
    overflow: hidden;
}
@media (max-width:1200px) {
    .inside{
        padding: 0 !important;
        margin: 0 !important;
        border: none;
        outline: none;
        box-sizing: border-box;
    }
    .inside img{
        display: none;
    }
    .subarea{
        top: 50px;
    }
    .search-main{
        background-color: #05203C;
    }
}
.ubuntu{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    width: 1304px;
}
.logo img{
    width: 200px;
    height: 50px;
    object-fit: cover;
    position: relative;
    left: -10px;
}
.up{
    /* border: 1px solid; */
    width: 1295px;
    padding: 0px;
    height: 130px;
}
.top{
    justify-content: space-between;
}
.left ul{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 13px;
}
.fa-heart{
    cursor: pointer;
    font-size: 22px;
}
.fa-heart:hover{
    color: #82909E;
}
.btn{
    padding: 2px;
    border-radius:12px;
    background-color: #1E3750;
    font-weight: 600;
    cursor: pointer;
}
.btn p{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
}
.btn:hover{
    background-color: #010913;
}
.login{
    border: 1px solid;
    border-radius:12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #FFF;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}
.login:hover{
    background-color: #E0E4E9;
}
.mike{
    border: 1px solid;
    height: 650px;
    width: 500px;
    position: absolute;
    top: 6%;
    left: 28%;
    background-color: #FFF;
    border-radius: 12px;
}
.strype{
    border: 1px solid;
    padding: 100px;
    position: absolute;
    top: 0px;
    left: 300px;
}
.dropdown-login{
    overflow: hidden;
    display: none;
    border: 1px solid;
    position:absolute;
    top: 0px;
    background-color: #000;
    opacity: 0;
    padding: 1150px;
    z-index: 30;
}
.dropdown-login-up{
    display: block;
    opacity: 0.6;
    position:absolute;
    top: 0px;
    background-color: #000;
    opacity: 0;
    padding: 1150px;
    z-index: 30;
}
.btn img{
    width: 20px;
}
.left, .top{
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #FFF;
}
.sos a{
    border: 1px solid;
    padding: 10px;
    border-radius: 36px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
    font-weight: 600;
}
.sos a:hover{
    border: 1px solid #154679;
    background-color: #154679;
}
.sos ul{
    gap: 5px;
    padding: 0px;
}
header ul{
    list-style: none;
    display: flex;
}
.help {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.help::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.help:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.trans{
    display: flex;
    flex-direction: column;
}
/* main beginners */
.main1{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}
.inside{
    /* border: 1px solid; */
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
}
.inside img{
    width: 100%;
    position: absolute;
    top: 0px;
    height: 550px;
    object-fit: cover;
}
.a2{
    /* border: 1px solid; */
    padding-top: 30px;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 40px;
}
.home{
    display: flex;
    flex-direction: column;
    position: relative;
}
.home hr{
    position: absolute;
    top: 10px;
    border: 1px solid;
    width: 40px;
}
.a2-box{
    display: flex;
    /* border: 1px solid; */
    width: 1200px;
    align-items: center;
    gap: 10px;
}
.a2 i, .a2 p{
    opacity: 0.5;
}
.a3{
    /* border: 1px solid; */
    display: flex;
    position: relative;
    justify-content: center;
    top: 40px;
}
.a3-boxes{
    display: flex;
}
.ubuntu h1{
    z-index: 9;
    color: #FFF;
    font-size: 65px;
    text-align: center;
    /* border: 1px solid; */
    width: 900px;
    text-align: left;
    width: 100%;
}
.search-main{
    /* border: 1px solid; */
    z-index: 8;
    display: flex;
    justify-content: center;
}
.subarea{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    background-color: #05203C;
    width: 1304px;
    height: 160px;
    border-radius: 5px;
    color: #FFF;
    position: relative;
}
.subarea ul{
    list-style: none;
}
.searching{
    border-right: 1px solid #b9b9b9;
}
.inpts ul{
    display: flex;
    position: absolute;
    top: 30px;
    left: -20px;
}
.inpts input{
    width: 550px;
    height: 17px;
    padding: 15px;
    flex-wrap: wrap;
    border-radius:12px 0px 0px 12px ;
    border: none;
}
.styled-select{
    /* border: 1px solid; */
    width: 260px;
    padding: 23.5px;
    border-radius: 0px 12px 12px 0px;
    background-color: #FFF;
    cursor: pointer;
    position: relative;
}
.content-select{
    color: #000;
    position: absolute;
    top: -3px;
}
.dropdown-select{
    display: none;
    z-index: 9999;
    color: #000;
    position: absolute;
    top: 70px;
    left: 900px;
    width: 450px;
    height: 250px;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.dropdown-select-up{
    display: block;
}
.hide{
    display: none;
}
.angle-span{
    width: 100%;
    position: absolute;
    font-size: 60px;
    top: -30px;
    display: flex;
    justify-content: center;
    color: #FFF;
}
.main-drop{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.done{
    display: flex;
    justify-content: right;
    position: relative;
}
.done p{
    position: absolute;
    top: -15px;
    right: 20px;
    color: #000;
}
.done p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.done p:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.drp1, .tap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.drp1 p{
    display: flex;
    gap: 10px;
}
.drp1{
    border-bottom: 1px solid #d1d1d1;
}
.ttxt{
    /* border: 1px solid; */
    padding: 15px;
    width: 10px;
}
.drp1 button{
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #E0E4E9;
    cursor: pointer;
}
.caret-down-span-select{
    position: absolute;
    /* border: 1px solid #000; */
    color: #000;
    left: 270px;
    top: 15.5px;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}
.filter{
    display: flex;
    position: absolute;
    top: 100px;
    left: 23px;
    font-size: 14px;
}
.checking, .filt{
    display: flex;
    align-items: center;
}
.checking{
    gap: 20px;
}
.filt{
    gap: 5px;
}
.time{
    width: 150px !important;
}
input[type="date"]{
    border-radius: 0px;
}
.subtitles ul{
    /* border: 1px solid red; */
    display: flex;
    position: absolute;
    top: 5px;
    left: 20px;
    color: #FFF;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 700;
}
.where{
    width: 590px;
}
.in{
    width: 180px;
}
.on{
    width: 180px;
}
.guest{
    width: 200px;
}
.down{
    position: relative;
}
.down button{
    border: none;
    position: absolute;
    top: 110px;
    left: 85%;
    border-radius: 12px;
    font-size: 14px;
    width: 150px;
    height: 40px;
    background-color: #0062E3;
    cursor: pointer;
}
.down a{
    position: relative;
    text-decoration: none;
    color: #FFF;
}
/* main2 */
.main2{
    /* border: 1px solid; */
    width: 100%;
    position: absolute;
    top: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main2-in{
    width: 1304px;
}
.inside-main2{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}
.tags{
    /* border: 1px solid; */
    padding-top: 20px;
    display: flex;
    gap: 7px;
    align-items: center;

}
.tags i, .tags p{
    opacity: 0.5;
}
.tags a{
    text-decoration: none;
    color: #000;
}
.ahover:hover .line{
    border: 1px solid;
    width: 100%;
}
.prs{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ahover{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cards, .card{
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    font-size: 13px;
    flex-wrap: nowrap;
}
.card i{
    font-size: 20px;
}
.cards{
    padding-bottom: 60px;
}
.brands{
    font-size: 16px;
    padding-bottom: 70px;
}
.brands h1{
    padding-bottom: 15px;
}
.card img{
    width: 137px;
    object-fit: cover;
    height: 55px;
    padding-right: 10px;
}
.hotels-select{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ttl{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ttl p, .ttl h1{
    margin: 0px;
}
.cities{
    /* border: 1px solid; */
    display: flex;
    gap: 10px;
}
.city{
    border: 1px solid #b9b9b9;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    border-radius: 7px;
    font-size: 13px;
    cursor: pointer;
}
.city:hover{
    border: 1px solid #000;
}
.scrolls{
    /* border: 1px solid; */
    display: flex;
    gap: 45px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
.hotels-card{
    border-radius: 24px;
    transition: all 0.8s ease;
}
.hotels-card:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.hotels-card hr{
    opacity: 0.2;
}
.hotels-card a{
    text-decoration: none;
    color: #000;
}
.card-img img{
    border-radius: 24px 24px 0px 0px;
    height: 125px;
    width: 400px;
}
.sub{
    display: flex;
    gap: 50px;
    align-items: center;
}
.hotel-name{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}
.span-1{
    /* border: 1px solid; */
    font-weight: 700;
}
.hotel-reviews{
    /* border: 1px solid; */
    padding-top: 10px;
    padding-left: 20px;
}
.per-night{
    /* border: 1px solid; */
    padding-right: 10px;
    padding-bottom: 10px;
}
.price{
    text-align: right;
    display: flex;
    flex-direction: column;
}
.price-title{
    font-size: 12px;
}
.price-bolt{
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
}
.rating1, .rating2{
    font-weight: 600;
}
.rating2{
    padding-left: 10px;
}
.from5{
    font-size: 12px;
}
.btns-clicker{
    margin-top: 30px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 10px;
    /* border: 1px solid; */
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns-clicker button{
    border: none;
    background-color: #FFF;
}
.button-right i, .button-left i{
    color: #0062E3;
    font-size: 20px;
    cursor: pointer;
}
.button-right1 i, .button-left1 i{
    color: #0062E3;
    font-size: 20px;
    cursor: pointer;
}
.scroll-balls{
    display: flex;
    gap: 8px;
    font-size: 8px;
}
.scrolls2{
    display: flex;
    overflow: hidden;
    gap: 40px;
}
.facts{
    padding-top: 100px;
}
.cards1{
    display: flex;
    gap: 100px;
}
.card1{
    /* border: 1px solid; */
    width: 500px;
    padding: 10px;
}
.card1 p, .card1 h1{
    padding: 0px;
}
.card1 i{
    font-size: 30px;
}
.card1 h1{
    font-size: 25px;
    margin-top: 0px;
    font-weight: 500;
}
.card1 p{
    margin-bottom: 0px;
}
.title-facts p{
    padding-bottom: 20px;
}
.image-facts{
    background-color: #EFF3F8;
    margin-top: 150px;
    border-radius: 12px;
    padding: 50px;
}
.cards2{
    display: flex;
    gap: 50px;
}
.card2{
    text-align: center;
    width: 500px;
}
.card2 h1{
    font-size: 25px;
}
.card2 img{
    width: 200px;
    height: 200px;
}
.btns-fags{
    display: flex;
    flex-direction: column;
}
.fags-sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}
.fags-sub{
    font-size: 20px;
}
.btns-fags span{
    width: 800px;
    cursor: pointer;
}
.tuglle{
    overflow: hidden;
    /* border: 1px solid; */
    transition: all 0.2s ease;
    height: 65px;
    border-bottom: 1px solid #ccc;
}
.tuglle-up{
    height: 150px;
}
.btns-fags hr{
    opacity: 0.4;
}
.fa-angle-down{
    transform: rotateX(180deg);
}
.stage1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}
.stage1 span{
    font-size: 13px;
}
.stage1 h1{
    font-weight: 500;
}
/* buttons main works and master pushes */
.btns-stage1{
    display: flex;
    gap: 10px;
}
.btns-stage1 button{
    padding: 8.5px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #FFF;
    cursor: pointer;
}
.btns-stage1 button:hover{
    border: 1px solid #000;
}
/* .opz{
    border: 1px solid;
} */
.open-files{
    display: flex;
    overflow: hidden;
    /* border: 1px solid; */
    gap: 60px;
}
.str{
    display: flex;
    gap: 20px;
}
.str span{
    display: flex;
}
.option-select-type{
    display: flex;
    /* border: 1px solid; */
}
.select-books{
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.select-books i{
    font-size: 21px;
}
.fa-angle-left, .fa-angle-right{
    color: #0062E3;
    cursor: pointer;
}
/* .left-arrow, .right-arrow{
    border: 1px solid;
} */
.balls i{
    font-size: 8px;
}
.ball, .ball1{
    padding-left: 5px;
    cursor: pointer;
}
.balls{
    display: flex;
    gap: 8px;
    color: #cacaca;
}
.column1, .column2{
    /* border: 1px solid; */
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.column1 p, .column2 p{
    /* border: 1px solid; */
    margin: 0px;
    position: relative;
}
.column1 p::after, .column2 p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 0.5px;
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.column1 p:hover::after, .column2 p:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* footer */
footer{
    background-color: #05203C;
    display: flex;
    gap: 70px;
    z-index: 780;
    padding: 30px;
    justify-content: center;
    font-size: 12px;
    font-family: "Rubik", sans-serif;
}
#footer-css-check{
    border: 1px solid;
}
.footer-root{
    display: block;
    color: #FFF;
}
.footer-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1354px;
    gap: 50px;
    /* border: 1px solid; */
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.footer-main{
    display: flex;
    /* border: 1px solid; */
    gap: 90px;
    width: 1224px;
}
footer button{
    padding: 8px;
    padding-left: 20px;
    padding-right: 75px;
    border-radius: 10px;
    background-color: #1E3750;
    border: none;
    height: 20px;
    font-size: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
}
footer button:hover{
    background-color: #010913;
}
footer a{
    text-decoration: dashed;
    color: #FFF;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
}
.deco-dosh{
    font-size: 2px;
}
.footer-list{
    display: flex;
    list-style: none;
    gap: 130px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}
.list-card p, .list-card a{
    margin: 0px;
    position: relative;
    font-family: "Rubik", sans-serif;
}
.list-card span{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.a-footer{
    display: flex;
    gap: 300px;
}
.end{
    position: relative;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.5px;
}
.list-card p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.list-card p:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.exclude{
    content: none;
}
.list-card {
    display: flex;
    gap: 25px;
    position: relative;
    flex-direction: column;
}
.list-card > div {
    position: relative;
}
.menu-item{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.menu-link{
    display: flex;
}
.dropdown-footer{
    display: flex;
    gap: 20px;
    position:relative;
    left: 10;
    top: 15px;
    background: #05203C;
    list-style: none;
    padding: 10px;
    flex-direction: column;
    color: #FFF;
    height: 0px;
    visibility: hidden;
    transition: all 0.25s ease-out;
    padding: 0px;
    margin: 0px;
}
.dropdown-footer span{
    padding-left: 20px;
}
.dropdown-footer.active{
    visibility: visible;
    height: 210px;
}
.list-card > div:hover .dropdown-footer {
    display: flex;
}
.list-card > div:hover .fa-minus {
    display: inline;
}
.list-card > div:hover .fa-plus {
    display: none;
}
.interactive{
    display: flex;
}
.fa-chevron-up{
    transform: rotate(180deg);
}
/* language-section */
.international{
    /* border: 1px solid; */
    z-index: 999;
    color: #000;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.international span{
    /* border: 1px solid; */
    width: 1290px;
}
.international h1{
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
}
.card-language img{
    width: 15px;
    height: 10px;
}
/* .card-language{
    border: 1px solid;
} */
.card-language span{
    display: flex;
    width: 200px;
}
.languages-word{
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex-wrap: wrap;
    height: 150px;
}
.card-language p{
    font-size: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    margin: 5px;
    cursor: pointer;
}
.card-language p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 0.5px;
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.card-language p:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* update */
.scale-cards-main{
    /* border: 1px solid; */
    margin-top: 100px;
    margin-bottom: 10px;
}
.title-scale, .title-scale h1{
    font-size: 30px;
    font-weight: 500;
}
.cards-scale{
    /* border: 1px solid; */
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.img-scale img{
    width: 600px;
    height: 200px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease;
}
.img-scale{
    overflow: hidden;
}
.card-scale{
    cursor: pointer;
}
.card-scale a{
    text-decoration: none;
    color: #000;
}
.card-scale:hover .img-scale img{
    transform: scale(1.1);
}
.fff-1{
    font-size: 13px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 550px;
}
.fff-1 p{
    color: #6d6d6d;
    align-items: center;
    display: flex;
    gap: 5px;
}
.fff-1 i{
    font-size: 3px;
}
.fff-1 h1{
    font-size: 20px;
    font-weight: 500;
}
.uu1{
    color: #0062E3;
    cursor: pointer;
    position: relative;
}
.uu1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 0.5px;
  background: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.uu1:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.uu1:hover{
    color: #000;  
}