*{
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
    box-sizing: content-box;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    border: 1px solid #05203C;
    display: flex;
    background-color: #05203C;
    color: #FFF;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    padding-bottom: 15px;
    overflow: hidden;
}
@media (max-width:1200px) {
    .inside{
        padding: 0 !important;
        margin: 0 !important;
        border: none;
        outline: none;
        box-sizing: border-box;
    }
    .inside img{
        display: none;
    }
    .subarea{
        top: 50px;
    }
    .search-main{
        background-color: #05203C;
    }
}
.logo img{
    width: 200px;
    height: 50px;
    object-fit: cover;
    position: relative;
    left: -10px;
}
.up{
    /* border: 1px solid; */
    width: 1295px;
    padding: 0px;
    height: 130px;
}
.top{
    justify-content: space-between;
}
.left ul{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 13px;
}
.btn{
    padding: 2px;
    border-radius:12px;
    background-color: #1E3750;
    font-weight: 600;
    cursor: pointer;
}
.btn p{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
}
.btn:hover{
    background-color: #010913;
}
.login{
    border: 1px solid;
    border-radius:12px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFF;
    color: #000;
    font-weight: 600;
}
.btn img{
    width: 20px;
}
.left, .top{
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #FFF;
}
.sos a{
    border: 1px solid;
    padding: 10px;
    border-radius: 36px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
    font-weight: 600;
}
.sos a:hover{
    border: 1px solid #154679;
    background-color: #154679;
}
.sos ul{
    gap: 5px;
    padding: 0px;
}
header ul{
    list-style: none;
    display: flex;
}
.help{
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}
.line{
    position: relative;
    top: -10px;
    border: none;
    width: 0px;
    transition: all 0.8s ease;
}
.help:hover + .line{
    border: 1px solid;
    width: 100%;
}
.trans{
    display: flex;
    flex-direction: column;
}
/* main beginners */
.main1{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
}
.inside{
    /* border: 1px solid; */
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    overflow: hidden;
}
.inside img{
    width: 100%;
    position: absolute;
    top: 0px;
    height: 550px;
    object-fit: cover;
}
.a2{
    /* border: 1px solid; */
    padding-top: 30px;
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 40px;
}
.home{
    display: flex;
    flex-direction: column;
    position: relative;
}
.home hr{
    position: absolute;
    top: 10px;
    border: 1px solid;
    width: 40px;
}
.a2-box{
    display: flex;
    /* border: 1px solid; */
    width: 1200px;
    align-items: center;
    gap: 10px;
}
.a2 i, .a2 p{
    opacity: 0.5;
}
.a3{
    /* border: 1px solid; */
    display: flex;
    position: relative;
    justify-content: center;
    top: 40px;
}
.a3-boxes{
    display: flex;
}
.inside h1{
    z-index: 9;
    color: #FFF;
    font-size: 65px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    /* border: 1px solid; */
    width: 900px;
    position: absolute;
    left: 435px;
    top: 105px;
    text-align: left;
    padding-bottom: 10px;
    width: 100%;
}
.search-main{
    /* border: 1px solid; */
    z-index: 8;
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    justify-content: center;
    position: relative;
    top: 20px;
}
.subarea{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    background-color: #05203C;
    width: 1240px;
    height: 160px;
    border-radius: 5px;
    color: #FFF;
    position: relative;
}
.subarea ul{
    list-style: none;
}
.searching{
    border-right: 1px solid #b9b9b9;
}
.inpts ul{
    display: flex;
    position: absolute;
    top: 30px;
    left: -20px;
}
.inpts input{
    width: 550px;
    height: 17px;
    padding: 15px;
    flex-wrap: wrap;
    border-radius:12px 0px 0px 12px ;
    border: none;
}
.inpts select{
    border: none;
    width: 250px;
    padding: 15px;
    border-radius: 0px 12px 12px 0px;
}
.filter{
    display: flex;
    position: absolute;
    top: 100px;
    left: 23px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}
.checking, .filt{
    display: flex;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
}
.checking{
    gap: 20px;
}
.filt{
    gap: 5px;
}
.time{
    width: 150px !important;
}
input[type="date"]{
    border-radius: 0px;
}
.subtitles ul{
    /* border: 1px solid red; */
    display: flex;
    position: absolute;
    top: 5px;
    left: 20px;
    color: #FFF;
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
}
/* .where, .in, .on, .guest{
    border: 1px solid;
} */
.where{
    width: 590px;
}
.in{
    width: 180px;
}
.on{
    width: 180px;
}
.guest{
    width: 230px;
}
.down{
    position: relative;
}
.down button{
    border: none;
    position: absolute;
    top: 110px;
    left: 85%;
    border-radius: 12px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    width: 150px;
    height: 40px;
    background-color: #0062E3;
    cursor: pointer;
}
.down a{
    position: relative;
    text-decoration: none;
    color: #FFF;
}
/* main2 */
.main2{
    /* border: 1px solid; */
    width: 100%;
    position: absolute;
    top: 700px;
    display: flex;
    justify-content: center;
}
.inside-main2{
    /* border: 1px solid; */
    width: 1245px;
}
.tags{
    /* border: 1px solid; */
    padding-top: 20px;
    display: flex;
    gap: 7px;
    align-items: center;
}
.tags i, .tags p{
    opacity: 0.5;
}
.tags a{
    text-decoration: none;
    color: #000;
    font-family: "Noto Sans", sans-serif;
}
.ahover:hover .line{
    border: 1px solid;
    width: 100%;
}
.prs{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ahover{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cards, .card{
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    font-size: 13px;
    font-family: "Noto Sans", sans-serif;
    flex-wrap: nowrap;
}
.card i{
    font-size: 20px;
}
.cards{
    padding-bottom: 60px;
}
.brands{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    padding-bottom: 70px;
}
.brands h1{
    padding-bottom: 15px;
}
.card img{
    width: 137px;
    object-fit: cover;
    height: 55px;
    padding-right: 10px;
}
.hotels-select{
    /* border: 1px solid; */
    font-family: "Noto Sans", sans-serif;
}
.ttl{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ttl p, .ttl h1{
    margin: 0px;
}
.cities{
    padding-top: 25px;
    /* border: 1px solid; */
    display: flex;
    gap: 10px;
    padding-bottom: 50px;
}
.city{
    border: 1px solid #b9b9b9;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    border-radius: 7px;
    font-size: 13px;
    cursor: pointer;
}
.city:hover{
    border: 1px solid #000;
}
.scrolls{
    /* border: 1px solid; */
    display: flex;
    gap: 30px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 5px;
}
.hotels-card{
    border-radius: 24px;
    box-shadow: rgba(99, 99, 98, 0.2) 4px 4px 4px 0px;
    transition: all 0.8s ease;
}
.hotels-card:hover{
    box-shadow: rgba(0, 0, 0, 0.79) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.hotels-card hr{
    opacity: 0.2;
}
.hotels-card a{
    text-decoration: none;
    color: #000;
    font-family: "Noto Sans", sans-serif;
}
.card-img img{
    border-radius: 24px 24px 0px 0px;
}
.sub{
    display: flex;
    gap: 50px;
    align-items: center;
}
/* .hotel-rating{
    border: 1px solid;
} */
.hotel-name{
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}
.span-1{
    /* border: 1px solid; */
    font-weight: 700;
}
.hotel-reviews{
    /* border: 1px solid; */
    padding-top: 10px;
    padding-left: 20px;
}
.per-night{
    /* border: 1px solid; */
    padding-right: 10px;
    padding-bottom: 10px;
}
.price{
    text-align: right;
    display: flex;
    flex-direction: column;
}
.price-title{
    font-size: 12px;
}
.price-bolt{
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
}
.rating1, .rating2{
    font-weight: 600;
}
.rating2{
    padding-left: 10px;
}
.from5{
    font-size: 12px;
}
.btns-clicker{
    margin-top: 30px;
    padding: 10px;
    /* border: 1px solid; */
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns-clicker button{
    border: none;
    background-color: #FFF;
}
.button-right i, .button-left i{
    color: #0062E3;
    font-size: 20px;
    cursor: pointer;
}
/* .button-left, .button-right, .scroll-balls{
    border: 1px solid;
} */
.scroll-balls{
    display: flex;
    gap: 8px;
    font-size: 8px;
}
.scrolls2{
    display: flex;
    overflow: hidden;
    gap: 30px;
}
.facts{
    padding-top: 100px;
}
.cards1{
    display: flex;
    gap: 100px;
}
.card1{
    /* border: 1px solid; */
    width: 500px;
    padding: 10px;
}
.card1 p, .card1 h1{
    padding: 0px;
    font-family: "Lato", sans-serif;
}
.card1 i{
    font-size: 30px;
}
.card1 h1{
    font-size: 25px;
    margin-top: 0px;
    font-weight: 500;
}
.card1 p{
    margin-bottom: 0px;
}
.title-facts p{
    padding-bottom: 20px;
}
.image-facts{
    background-color: #EFF3F8;
    margin-top: 150px;
    border-radius: 12px;
    padding: 50px;
}
.cards2{
    display: flex;
    gap: 50px;
}
.card2{
    text-align: center;
    width: 500px;
}
.card2 h1{
    font-size: 25px;
}
.card2 img{
    width: 200px;
    height: 200px;
}
.fags{
    border: 1px solid;
}
.btns-fags{
    display: flex;
    flex-direction: column;
}
.fags-sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}
.fags-sub{
    font-size: 20px;
}
.btns-fags span{
    width: 800px;
    cursor: pointer;
}
.ttx-cont{
    display: none;
}
.ttx-cont-up{
    display: block;
}
.btns-fags hr{
    opacity: 0.4;
}